// 颜色
$primary: #008ad3;
$success: #00b96b;
$danger: #ff4d4f;

// 字体
$font-sans: "SourceHanSansCN-Regular";
$font-mono: "JetBrainsMono-Regular";
$font-weight: 400;
$font-style: normal;

// 圆角
$radius: 12px;

// 动画
$transition: 0.3s;

@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("https://mcenahle.com/fonts/SourceHanSansCN-Regular.woff2")
    format("woff2");
  font-weight: $font-weight;
  font-style: $font-style;
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("https://mcenahle.com/fonts/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: $font-weight;
  font-style: $font-style;
}

code {
  font-family: $font-mono;
}

.post-edit-link-wrap {
  margin-top: 0.8rem;
  font-size: 0.9rem;

  .post-edit-link {
    color: var(--text-highlight-color);
    text-decoration: none;

    &:hover {
      color: var(--theme-color);
    }
  }
}

.bg-animation {
  opacity: 0.2 !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari 兼容 */
}

#edit {
  color: #008ad3;
  &:hover,
  &:focus {
    text-decoration: underline dotted;
  }
}

#footer a:hover {
  color: white;
  text-decoration: underline dotted;
}

.tk-footer {
  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline dotted;
    }
  }
}

#page-header.not-top-img {
  #nav {
    backdrop-filter: blur(4px) !important;
    background: rgba(255, 255, 255, 0.4) !important;
  }
}
